.parent34-container {
    .child-component {
        border: 1px dotted red;
        padding: 10px;
        margin: 10px;
        max-width: fit-content;
    }
    .do-styling {
        padding: 10px;
        margin: 10px;
        max-width: fit-content;
    }
}