<div class="observable72-container">
    <div class="main-content">
        <button (click)="doFirebase()">start firebase</button>
        <button (click)="stopFirebase()">stop firebase</button>
        <button (click)="retry23()">retry23</button>
        <button (click)="retryWhen23()">retryWhen23</button>
        <button (click)="retryWhen24()">retryWhen24</button>
        <button (click)="retryWhen25()">retryWhen25</button>
        <button (click)="retryWhen26()">retryWhen26</button>
        <button (click)="retryWhen27()">retryWhen27</button>
        <button (click)="retryWhen28()">retryWhen28</button>
        <button (click)="retryWhen29()">retryWhen29</button>
    </div>
</div>
