<div fxLayout="column" fxLayoutGap="20px">
    <a href="https://en.wikipedia.org/wiki/Elephant">Visit elephant wiki page</a>
    
    <!-- absolute URL -->
    <img 
        src="https://upload.wikimedia.org/wikipedia/commons/6/63/African_elephant_warning_raised_trunk.jpg"
        width="100px"
        height="100px"
        alt="alternate text for an image, if the image for some reason cannot be displayed"
        >

    <!-- relative URL -->
    <img
        src="../../../../assets/images/elephant_tusk.jpg"
        width="150px"
        height="150px"
        >
        
    <p style="color:red;">This is a red paragraph</p>

    <p title="mary has a little lamb">hover mouse over this element</p>

    <p>display html tags as plain text... dont let broswer read those tags &lt;p&gt; &lt;/p&gt;</p>


</div>
