.ag-grid23-container {
    .info {
        border: 1px dotted red;
        padding: 5px;
        margin: 5px;
        max-width: 800px;
    }
    .user-actions {
        max-width: fit-content;
    }
}