<div class="service11-coontainer" fxLayout="column" fxLayoutGap="10px">
    <div></div>
    <div class="main-content-1">
        service injected @ component
       <button (click)="setCountComp11()">change comp count in 11</button> 
       <button (click)="getCountComp11()">get comp Count</button> 
    </div>
    <div class="main-content-2">
        service injected @ module
       <button (click)="setCountMod11()">change mod count in 11</button> 
       <button (click)="getCountMod11()">get mod Count</button> 
    </div>
</div>