<div class="greeting-observables15-container">
    <div class="info">
        <div>if you stay in this page itself, you can see the name changing...</div>
        <div>even after you navigate to someplace else... the observable keeps emitting values</div>
        <div>you can check that in console logs... the observable is never destroyed...</div>
        <div>And when you return this greeting component ---> you create another subscription (increase in console logs speed) </div>
    </div>
    <div>Hello, {{user.name}}</div>
</div>
