<div class="reactive-driven-forms-container">
    <form name="reactiveForm1" [formGroup]="reactiveForm1" (ngSubmit)="submitForm()">
        <input placeholder="club name" formControlName="clubName">          <!-- why formControlName & not [formControlName] -->
        <input placeholder="stadium name" formControlName="stadiumName">
        <select formControlName="address">
            <!-- 
                here, we need to use ngValue & not value... 
                value only captures string... but ngValue catches whole object
                plus, in .ts file ====> we need to have just address object... no need to have city, country form controls
            -->
            <option [ngValue]="address" *ngFor="let address of addresses">{{address?.city}}</option>            
        </select>
        <div formArrayName="players">
            <div *ngFor = "let player of players?.controls; let i = index">
                <div [formGroupName]="i">
                    <input formControlName="playerName" placeholder="enter name">
                    <input formControlName="position" placeholder="enter position">
                </div>
            </div>
        </div>
    </form>
    <button (click)="addPlayer()"> add player</button>
    <button (click)="submitForm()" >submit</button>
</div>