<div class="reactive-driven-forms-container">
    <form name="reactiveForm1" [formGroup]="clubDetails" (ngSubmit)="submitForm()">
        <!-- why formControlName & not [formControlName] -->
        <input placeholder="club name" formControlName="clubName">
        <input placeholder="stadium name" formControlName="stadiumName">
        <select formControlName="address">
            <!-- value only captures string... but ngValue catches whole object-->
            <option value = "" disabled>club is located in</option>
            <option [ngValue]="address" *ngFor="let address of addresses">{{address?.city}}</option>            
        </select>
        <div formArrayName="players">
            <div *ngFor = "let player of players?.controls; let i = index">
                <div [formGroupName]="i">
                    <input formControlName="playerName" placeholder="player's name">
                    <input formControlName="position" placeholder="player's position">
                </div>
            </div>
        </div>
    </form>
    <button (click)="addPlayer()"> add players to club </button>
    <div><button (click)="submitForm()">submit</button></div>
</div>