<h3>Sign Up</h3>
<div class="col mb-2">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" #email="ngModel" [(ngModel)]="user.email">
</div>
<div>
    <label for="password">Password:</label>
    <input [type]="user.showPassword ? 'text' : 'password'" id="password" name="password" #password="ngModel"
        [(ngModel)]="user.password" class="form-control form-control-sm">
    <button type="button" (click)="user.showPassword = !user.showPassword">
        {{ !user.showPassword ? 'show': 'hide'}}
    </button>
</div>
<button type="button" (click)="signUp()" [disabled]="loading">Sign up</button>
<button type="button" (click)="confirmSignUp()" class="btn btn-sm btn-success" [disabled]="loading">Confirm</button>