# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/dist23
/dist24
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

/parcel23/.parcel-cache
/parcel23/dist
/parcel23/node_modules

# dependencies
/node_modules
package-lock.json
/parcel23/.parcel-cache
/parcel23/dist
/parcel23/node_modules
.parcel-cache

# config & settings
/config

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
/.angular

# System Files
.DS_Store
Thumbs.db
