<div fxLayout="column" fxLayoutGap="20px" class="services-di-home-container">

    <div fxLayout="row" fxLayoutGap="20px" class="services-di-home-links">
        <a [routerLink]="['cors23']"> cors23 </a>
        <a [routerLink]="['navigation-life-cycle']"> Navigation Life Cycle </a>
        <a [routerLink]="['decorator12']"> Decorators </a>
        <a [routerLink]="['custom-decorator12']"> Custom Decorators </a>
        <a [routerLink]="['custom-component']"> Custom Component </a>
        <a [routerLink]="['zone-12']"> Zone Component </a>
        <a [routerLink]="['angular-syntax12']"> angular syntax </a>
        <a [routerLink]="['custom-formcontrol12']"> custom formcontrol </a>
        <!-- Angular uses runtime check for each metadata instance to verify it was constructed using the appropriate decorators. Since we used our custom decorator, the check didn’t pass. -->

        <a [routerLink]="['dynamic-imports23']"> dynamic imports </a>


    </div>

    <div>
        <div>My environment is {{env.APP_NAME}}</div>
    </div>
    

</div>