<div class="services-di-home-container" fxLayout="column" fxLayoutGap="20px">

    <div class="home-links" fxLayout="row wrap" fxLayoutGap="20px">
        
        <!-- attribute vs property -->
        <a [routerLink]="['angular-syntax12']"> angular syntax </a>

        <!-- making pincode service call... see PincodeInterceptor23 also -->
        <a [routerLink]="['cors23']"> cors23 </a>
        
        <!-- something custom component... see customComp.decorator.ts... NOT WORKING YET -->
        <a [routerLink]="['custom-component']"> Custom Component </a>
        
        <!-- 
            Angular uses runtime check for each metadata instance to verify it was constructed using the appropriate decorators. Since we used our custom decorator, the check didn’t pass. 
            ????????????????????????????????????
        -->

        <!-- dynamically load angular modules... see network tab-->
        <a [routerLink]="['dynamic-imports23']"> dynamic imports </a>

        <!-- sweet alert testing-->
        <a [routerLink]="['swal-12']"> swal-12 </a>


    </div>

    <div>
        <div>My environment is {{env.APP_NAME}}</div>
    </div>

    <div class="user-actions-buttons">        
        <button mat-raised-button color="primary" (click)="showTypescript=!showTypescript">typescript</button>
        <button mat-raised-button color="primary" (click)="showDecorators=!showDecorators">decorators</button>
    </div>
    
    <div class="child-components">
        <div *ngIf="showTypescript" fxLayout="row" fxLayoutGap="20px">
            <div class="child-component">
                <app69-typescript11></app69-typescript11>
            </div>
            <div class="child-component">
                <app69-event-manager14></app69-event-manager14>
            </div>
            <div class="child-component">
                <app69-type-safety23></app69-type-safety23>
            </div>
        </div>
        <div *ngIf="showDecorators" fxLayout="row" fxLayoutGap="20px">
            <div class="child-component">
                <!-- basic decorator... nothing happening here -->
                <app-decorator12></app-decorator12>
            </div>
            <div class="child-component">
                <!-- confirmable decorator - delete item -->
                <app-custom-decorator12></app-custom-decorator12>
            </div>
            <div class="child-component">
                <!-- yet to be implemented -->
                <app-custom-decorator13></app-custom-decorator13>
            </div>
            




        </div>
    </div>
</div>
