<div class="services-di-home-container">
    <div class="home-links">
        <a [routerLink]="['angular-syntax12']"> angular syntax </a>        
        <a [routerLink]="['cors23']"> cors23 </a>
        <a [routerLink]="['custom-component']"> Custom Component </a>

        <!-- dynamically load angular modules... see network tab-->
        <a [routerLink]="['dynamic-imports23']"> dynamic imports </a>
    </div>

    <div>My environment is {{env.APP_NAME}}</div>
    <div class="user-actions-buttons">        
        <button (click)="showTypescript=!showTypescript">typescript</button>
        <button (click)="showDecorators=!showDecorators">decorators</button>
    </div>    
    <div class="child-components">
        <div *ngIf="showTypescript" >
            <div class="child-component">
                <app69-event-manager14></app69-event-manager14>
            </div>
            <div class="child-component">
                <app69-type-safety23></app69-type-safety23>
            </div>
        </div>
        <div *ngIf="showDecorators">
            <div class="child-component">                
                <app-decorator12></app-decorator12>
            </div>
            <div class="child-component">                
                <app-custom-decorator12></app-custom-decorator12>
            </div>
            <div class="child-component">                
                <app-custom-decorator13></app-custom-decorator13>
            </div>
        </div>
    </div>
</div>