.template-driven-forms-container{
    max-width: fit-content;
    .ng-model-direcrive {
        border: 1px dotted rgb(59, 75, 223);
        padding: 5px
    }
    .ng-model-two-way-binding {
        border: 1px dotted rgb(146, 235, 64);
        padding: 5px
    }
    .user-actions {
        border: 1px dotted rgb(243, 148, 60);
        padding: 5px
    }
}