<!-------------------------------------------------------------------->

<!-- <h5>Basic</h5>
<p-multiSelect 
	[options]="cities"
	[(ngModel)]="selectedCities1"
	defaultLabel="Select a City" 
	optionLabel="name">
</p-multiSelect> -->

<!-------------------------------------------------------------------->

<!-- <h5>Chips</h5>
<p-multiSelect 
	[options]="cities" 
	[(ngModel)]="selectedCities2" 
	defaultLabel="Select a City" 
	optionLabel="name"
	display="chip">
</p-multiSelect> -->

<!-------------------------------------------------------------------->

<!-- <h5>Templating</h5>
<p-multiSelect 
	[options]="countries" 
	[(ngModel)]="selectedCountries1" 
	defaultLabel="Select a Country" 
	optionLabel="name"
	class="multiselect-custom">
	<ng-template let-value pTemplate="selectedItems">
		<div class="country-item country-item-value" *ngFor="let option of selectedCountries1">
			<div>{{option}}</div>
		</div>
		<div *ngIf="!selectedCountries1 || selectedCountries1.length === 0" class="country-placeholder">
			Select Countries
		</div>
	</ng-template>
	<ng-template let-country pTemplate="item">
		<div class="country-item">
			<div>{{country}}</div>
		</div>
	</ng-template>
</p-multiSelect> -->

<!-------------------------------------------------------------------->
<!-- <h5>Virtual Scroll (10000 Items)</h5>
<p-multiSelect [options]="virtualCountries" [showToggleAll]="false" [(ngModel)]="selectedCountries2" optionLabel="name"
	[virtualScroll]="true" [filter]="true" [itemSize]="34" class="multiselect-custom-virtual-scroll">
	<ng-template let-country pTemplate="item">
		<div class="country-item">
			<div>{{country.name}}</div>
		</div>
	</ng-template>
</p-multiSelect> -->
<!-------------------------------------------------------------------->