<div class="service12-coontainer" fxLayout="column" fxLayoutGap="10px">    
    <div class="main-content-1">
        <div>service injected @ component</div>
       <button (click)="setCount12()">change count in 12</button> 
       <button (click)="getCount12()">get count in 12</button> 
    </div>
    <div class="main-content-2">
        service injected @ module
       <button (click)="setCountMod12()">change mod count in 12</button> 
       <button (click)="getCountMod12()">get mod Count in 12</button> 
    </div>
</div>