<!--
    Angular CDK
    - a library built by the Angular Material team at Google. 
    - CDK itself is independent of any CSS styling, which means it is designed to be agnostic
        and you can use it without Angular Material.
    - Angular CDK (Component Development Kit) 
        to create an overlay that renders some content on top of other content.
    - 

-->

<div style="padding:10px; margin: 10px" class="buttons">
    <button (click)="useFormGroup=!useFormGroup">form group</button>
    <button (click)="dontUseMaterial=!dontUseMaterial">no Material</button>
    <button (click)="useModelForms=!useModelForms">model forms</button>
    <button (click)="useReactiveForms=!useReactiveForms">reactive forms</button>
    <button (click)="selectedCountry='CA';">reset country</button>
</div>

<div *ngIf="useFormGroup" class="mat-forms23-container">
    <h4>Select event Id</h4>
    <form [formGroup]="event23Form">
        <input placeholder="enter event name" formControlName="eventName">
        <mat-form-field appearance="outline" class="mat-forms23-form-field">
            <mat-label>event Id anta</mat-label>
            <mat-select formControlName="eventId">
                <!-- APPROACH I -->
                <!-- earlier, I used *ngFor on mat-select, but *ngFor should be used on mat-option -->
                <mat-option *ngFor="let eventId of eventIds" [value]="eventId">{{eventId}}</mat-option>

                <!-- APPROACH II -->
                <mat-option [value]="8787">8787</mat-option>
                <mat-option [value]="9876">9876</mat-option>
                <mat-option [value]="3232">3232</mat-option>
                <mat-option [value]="3200">3200</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>

<div *ngIf="dontUseMaterial">
    <label for="cars">Choose a car:&nbsp;</label>
    <select name="cars" id="cars">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
    </select>
</div>

<div *ngIf="useModelForms">
    <mat-toolbar color="primary">Model Forms</mat-toolbar>
    <div >
        <mat-form-field appearance="outline">
            <mat-select name="countryString" [(value)]="selectedCountry" placeholder="Country">
                <mat-option [value]="'ESP'">spain</mat-option>
                <mat-option [value]="'POR'">Portugal</mat-option>
                <mat-option [value]="'CRO'">Croatia</mat-option>
                <mat-option *ngFor="let country of countries" [value]="country.short">
                    {{country.full}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        &nbsp;&nbsp;
        Selected = {{selectedCountry}}
    </div>
</div>

<div *ngIf="useReactiveForms">
    <mat-toolbar color="primary">Reactive Forms</mat-toolbar>
    <div style="padding: 0 0 20px 20px">
        <mat-form-field>
            <mat-select name="countryReactiveString" [formControl]="selectedCountryControl" placeholder="Country">
                <mat-option [value]="'GER'">Germany</mat-option>
                <mat-option [value]="'BRA'">Brazil</mat-option>
                <mat-option [value]="'RUS'">RUssIa</mat-option>
                <mat-option *ngFor="let country of countries" [value]="country.short">
                    {{country.full}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        &nbsp;&nbsp;
        Selected = {{selectedCountryControl.value}}
    </div>
</div>