<div class="switch-map-container">
    <button (click)="useSwitchMap1()">use switch map1</button>
    <button (click)="useSwitchMap2()">use switch map2</button>
    <button (click)="mapVsSwitchMap()">Map vs SwitchMap</button>
    <!-- <button (click)="switchFunctionality()">switch functionality</button> -->
</div>
<div>
    <button #btn24>click for switch obs</button>
    <button (click)="mergeMap23()">mergeMap23</button>
    <button (click)="mergeMap24()">mergeMap24</button>
</div>
<div>
    <button (click)="switch_concat_exhaust()">switch_concat_exhaust</button>    
</div>