.home-router12-container {
    color: rgb(104, 84, 84);
    max-width: fit-content;
    .router-links {
        padding:10px;
        border:rgb(88, 37, 37) solid 1px;
    }
    .button-links {
        padding: 10px;
        border:rgb(122, 97, 97) solid 1px;
    }
}
