<div class="home-router12-container" fxLayout="row" fxLayoutGap="10px">
    <div fxLayout="column" fxLayoutGap="10px" class="router-links">
        <h3>using router Links</h3>

        <!-- pass routes as arguments -->
        <a [routerLink]="['itemDetail', '2']">navigate to apple</a>
        <a [routerLink]="[blah1, blah2]">navigate to apple_TS</a>

        <!-- route starts with /         so, look at root of the app -->
        <a [routerLink]="['/bootstrap23']">bootstrap23</a>
        

        <!-- route doesnt start with / (or) ./ (or) ..          so, look child routes I -->
        <a [routerLink]="['params12']"> Params12 </a>
        <a [routerLink]="['./params12']"> Params12_with_dot </a>

        <!-- route starts with ./                               so, look child routes II -->
        <a [routerLink]="['./snapshot12']"> snapshot12 </a>

        <!-- queryParams is another input of routerLink where they can be passed like -->
        <a [routerLink]="['itemDetail', '2']" [queryParams]="{player1: 'Luka', player2: 'Casemiro'}"> Pass Query Param </a>

        <div> read routeReuseStrategy23.md</div>
    </div>

    <div fxLayout="column" fxLayoutGap="10px" class="button-links">
        <h3>using router.navigate()</h3>
        <button mat-raised-button color="primary" (click)="navigateToApple()">navigateToApple</button>
        <button mat-raised-button color="primary" (click)="goToHome()">Go to home (or) bootstrap</button>
        <button mat-raised-button color="primary" (click)="navigateToParams12()">navigateToParams12</button>
        <button mat-raised-button color="primary" (click)="goToBootstrap23()">Random12 module</button>
    </div>

</div>



<!--
    first segment begins with '/' ===> the router will look up the route from the root of the app.
    first segment begins with './' ===> the router will instead look in the children of the current activated route.
    first segment doesn't begin with a slash ===> the router will instead look in the children of the current activated route.
    first segment begins with '../' ===> the router will go up one level.
-->
