<div class="reactive13-container">
    <form [formGroup]="reactiveForm13">
        <div class="give-rating-section">
            <div class="apply-border">
                <div> this is rating input </div>
                <app69-rating-input formControlName="input1"></app69-rating-input>
            </div>
            <div class="apply-border">
                <div> this is custom form control 12</div>
                <app-custom-formcontrol12 formControlName="input2"></app-custom-formcontrol12> 
            </div> 
            <div class="apply-border">
                <div> this is increment & decrement counter </div>
                <app69-add-minus formControlName="input3"></app69-add-minus>
            </div>
        </div>
    </form>    
</div>

