
<div class="auth-home-container" fxLayout="column" fxLayoutGap="20px">
    <!-- this is just to see how binding works -->
    <div *ngIf="false">
        <div style="font-weight: 300; color:rgb(167, 123, 123)">learn how binding works</div>
        <div *ngFor="let product of products23">
            {{product?.level3Product ? product?.level3Product?.l3Name : product?.referenceSku ? product?.referenceSku?.rSkuName : product.productName}}
        </div>
    </div>
    <div>
        Please run simpleExpress app to hit the endpoints... try JWT authentication too
    </div>
    <div class="user-actions">
        <button mat-raised-button color="primary" (click)="gotoSignIn()">Sign In</button>
        <button mat-raised-button color="primary" (click)="gotoSignUp()">Sign Up</button>
    </div>
    <div class="signIn-signUp-forms" fxLayout="row" fxLayoutGap="30px">
        <div class="signIn-form" *ngIf="showSignin">
            <app69-signin11></app69-signin11>
        </div>
        <div class="signUp-form" *ngIf="showSignup">
            <app69-signup11></app69-signup11>
        </div>
    </div>
    <div fxLayout="column" fxLayoutGap="20px">
        <a [routerLink]="['seeArticles']"> See Articles </a><span style="font-weight:100">of course login first</span>
    </div>
</div>
