<div class="flex12-container" fxLayout="row" fxLayoutGap="60px">
    <div class="stadium-details">
        The capacity of Santiago Bernabeu stadium is {{santiagoBernabeuCapacity | numConverter}}
    </div>
    <div class="goal-keeper">
        <span>Courtoius</span>
    </div>
    <div class="defenders">
        <span redHighlight>Carvajal, Militao, Alaba, Mendy</span>
    </div>
    <div class="midfielders">
        <span> Modric, Casemiro, Kroos</span>
    </div>
    <div *delayRendering="5000" class="attackers">
        <span>Rodrygo, Benzema, Vinicius</span>
    </div>
    
    <div fxLayout="column" fxLayoutGap="20px">
        <textarea noPasteInput id="textarea-id1" name="no-paste" placeholder="cant paste content" rows="5" style="max-width:700px"></textarea>
        <textarea noCopyInput id="textarea-id2" name="no-copy" placeholder="cant copy content" rows="5" style="max-width:700px"></textarea>
        <textarea id="textarea-id3" name="default" placeholder="do anything" rows="5" style="max-width:700px"></textarea>
    </div>
    <!-- textarea - opening & closing tags must be in the same line, otherwise \n appears, placeholder doesnt kickin anymore -->    
</div>
