<div class="flex12-container" fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="row" fxLayoutGap="20px">
        <div class="stadium-details">
            The capacity of Santiago Bernabeu stadium is {{santiagoBernabeuCapacity | numConverter}}
        </div>
        <div class="defenders">
            <div redHighlight>Carvajal, Militao, Alaba, Mendy</div>
            <div blueHighlight> Casillas, Ramos, Pepe (mouse over to see blue)</div>
            <div style="border: 1px dotted black">disappear once every 3 seconds <br>
                <div *appUnless23="date23?.slice(17,19) % 3 == 0">
                    {{ (date23?.slice(17,19) / 10) > 2 && (date23?.slice(17,19) / 10) < 4 }} <br>
                    {{ date23| date: 'HH:mm:ss': 'IST' }}<br>
                    {{ date23 }}
                </div>
            </div>
        </div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
        <div class="midfielders">
            <div>Instantly delivered</div>
            <div> Modric, Casemiro, Kroos</div>        
        </div>
        <div class="attackers" *delayRendering="5000">
            <div>rendered after 5 seconds</div>
            <div>Rodrygo, Benzema, Vinicius</div>
        </div>
    </div>    
    <div fxLayout="row" fxLayoutGap="20px">
        <textarea noPasteInput id="textarea-id1" name="no-paste" placeholder="cant paste content" rows="5" style="max-width:700px"></textarea>
        <textarea noCopyInput id="textarea-id2" name="no-copy" placeholder="cant copy content" rows="5" style="max-width:700px"></textarea>
        <textarea id="textarea-id3" name="default" placeholder="do anything" rows="5" style="max-width:700px"></textarea>
    </div>
    <!-- textarea - opening & closing tags must be in the same line, otherwise \n appears, placeholder doesnt kickin anymore -->    
</div>
