<div class="date-validator-container" fxLayout="column">
  <div>date-validator</div>
  <div style="font-size:9px">The key to adjusting mat-form-field-size = adjust the font-size in the surrounding container</div>
  <form [formGroup]="dateRange1">    
    <div style="font-size:xx-small">      
      <mat-form-field appearance="outline">
        <input matInput readonly [matDatepicker]="from" [min]="fromDate" placeholder="Start Date" formControlName="from">
        <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
        <mat-datepicker #from></mat-datepicker>
      </mat-form-field>
    </div>
    
    <div style="font-size:9px">
      <mat-form-field appearance="outline">
        <input matInput readonly [matDatepicker]="to" [max]="toDate" placeholder="End Date" formControlName="to">
        <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
        <mat-datepicker #to></mat-datepicker>
      </mat-form-field>
    </div>    
  </form>
    <button style="max-width: fit-content;" (click)="getDate()">get date</button>
</div>