.home-forms12-container {    
    .user-actions-buttons{
        color:black;
        border: 1px dotted red;
        padding: 5px;
        margin: 5px;
        width: 500px;
        height: 300px;
    }
    .child-components-container {
        .child-component {
            min-width: 500px
        }
    }
}