.home-forms12-container {    
    .user-actions-buttons{
        color:black;
        border: 1px dotted red;
        padding: 5px;
        margin: 5px;
        width: fit-content;
        height: fit-content;
    }
    .child-components-container {
        // .child-component {
        //     min-width: 500px
        // }
        width: fit-content;
    }
}