<div class="home-forms12-container" fxLayout="row" fxLayoutGap="20px">
    <div class="user-actions-buttons" fxLayout="column" fxLayoutGap="5px">
        <button style="max-width:fit-content" (click)="showDateValidator=!showDateValidator">Date Validator</button>
        <button style="max-width:fit-content" (click)="showCustomValidator=!showCustomValidator">Custom Validator</button>
        <button style="max-width:fit-content" (click)="showTemplateForm=!showTemplateForm">show Template Form</button>
        <button style="max-width:fit-content" (click)="showReactiveForm12=!showReactiveForm12">show Reactive 12</button>
        <button style="max-width:fit-content" (click)="showReactiveForm13=!showReactiveForm13">show Reactive 13</button>        
        <button style="max-width:fit-content" (click)="showCustomFormControl=!showCustomFormControl">custom form control</button>
        <button style="max-width:fit-content" (click)="showNestedForm=!showNestedForm">nested form</button>
        <button style="max-width:fit-content" (click)="showFormArray=!showFormArray">show form array</button>
        <button style="max-width:fit-content" (click)="showAddressForms=!showAddressForms">show address form</button>
    </div>
    <div class="child-components-container" fxLayout="row" fxLayoutGap="10px">
        <!-- <div style="font-size:12px;color:rgb(179, 122, 233)">it seems, we can apply classes to child components</div> -->
        <div *ngIf="showDateValidator" fxLayout="column" fxLayoutGap="40px">
            <app69-date-validator class="child-component"></app69-date-validator>
            <app69-date-validator2 class="child-component"></app69-date-validator2>
        </div>
        <div *ngIf="showCustomValidator" fxLayout="column" fxLayoutGap="40px">
            <app-custom-validator12 class="child-component"></app-custom-validator12>
            <app-custom-validator13 class="child-component"></app-custom-validator13>
        </div>
        <div *ngIf="showTemplateForm">
            <app69-template12 class="child-component"></app69-template12>
        </div>
        <div *ngIf="showReactiveForm12">
            <app69-reactive12 class="child-component"></app69-reactive12>
        </div>
        <!-- this reactive 13 shows us how to use custom inputs as form controls... like we can call valueChanges on those custom inputs -->
        <div *ngIf="showReactiveForm13">
            <app69-reactive13 class="child-component"></app69-reactive13>
        </div>
        <div *ngIf="showFormArray">
            <app69-form-array class="child-component"></app69-form-array>
        </div>
        <div *ngIf="showCustomFormControl">
            <app-custom-formcontrol12></app-custom-formcontrol12>
        </div>
        <div *ngIf="showNestedForm">
            <app69-nested-form></app69-nested-form>
        </div>
        <div *ngIf="showAddressForms">
            <app69-address12></app69-address12>
        </div>
    </div>    
</div>