<div class="home-projection23-container" fxLayout="column" fxLayoutGap="20px">
    <div class="apply-border">
        <app69-input-card bodyText="This is some text within a card body."></app69-input-card>
    </div>
    <div class="apply-border">
        <app69-project-body-card headerText="A sample card">
            Now I <strong>can</strong> add <em>markup!</em >
            <span class="badge badge-info">And Other Elements</span>    <!-- with class -->
            <span>Chile capital</span>                                  <!-- without class -->
        </app69-project-body-card>
    </div>
    <div class="apply-border">
        <app69-project-multiple-card>
            <div header>Projected Heading <button class="btn btn-primary">With buttons!</button></div>
            <div body>
                Now I <strong>can</strong> add <em>markup!</em >
                <span class="badge badge-info">And Other Elements</span>
                Gasoline
            </div>
        </app69-project-multiple-card>
    </div>
</div>
<!--

    DO IT LATERRRRRRRRRRRRRRRRRRRRRR

-->