<div style="display: flex; flex-direction: column; width: fit-content;" >
    <button (click)="asyncScheduler23()">async23</button>
    <button (click)="asyncScheduler24()">async24</button>
</div>
<div>
    <textarea rows="20" cols="80">
        asyncScheduler defers the execution of the Observable until after the synchronous code is run.
        async Scheduler operates with a setTimeout or setInterval. 
        Even if the delay is zero, It will run in the next event loop iteration.
        asyncScheduler allows you emit each value in a separate macrotask
    </textarea>
</div>
