<h3>Sign In</h3>
<div class="mb-2">
    <input placeholder="enter email" type="email" id="email" name="email" #email="ngModel" [(ngModel)]="user.email">
</div>
<div>
    <input placeholder="enter password" [type]="user.showPassword ? 'text' : 'password'" name="password" #password="ngModel" [(ngModel)]="user.password" >
    <button type="button" (click)="user.showPassword = !user.showPassword">
        {{ !user.showPassword ? 'show': 'hide'}}
    </button>
</div>
<div><button type="button" (click)="signIn()" [disabled]="loading">Sign In</button></div>
<div><button type="button" (click)="federatedSignIn()" [disabled]="loading">federated</button></div>
<div><button type="button" (click)="someSignout()" [disabled]="loading">some Signout</button></div>
