.ng-content11-container {
    
    .ng-content-header {
        color:red
    }
    .ng-content-body {
        color:rgb(177, 104, 9)
    }
    .ng-content-footer {
        color:green
    }
    border:2px solid;
}
