<div class="bubble23-container">    
    <div (click)="rect1Handler($event)" class="rect-1">
        <h1>click on rect-1</h1>
        <div (click)="rect2Handler($event)" class="rect-2">
            <h2>click on rect-2</h2>
            <div class="grand-child">
                <div (click)="rect3aHandler($event)" class="rect-3" id="rect3a">
                    <h6>rect-3a (dont click on text, click on empty space)</h6>
                </div>
                <div (click)="rect3bHandler($event)" class="rect-3" id="rect3b">
                    <h3>click on rect-3b</h3>
                </div>                
            </div>
        </div>        
    </div>    
</div>