<div class="js-home12-container" fxLayout="row" fxLayoutGap="20px">
    <a [routerLink]="['call-bind-apply']">call-bind-apply</a>
    <!-- <a [routerLink]="['mat-forms23']">mat forms</a>
    <a [routerLink]="['mat-table12']">mat table</a> -->
    <button mat-raised-button color="primay" (click)="toggleCallBindApply()">click for child</button>
    <button mat-raised-button color="primay" (click)="showCricket = !showCricket">click for cricket</button>
    <button mat-raised-button color="primay" (click)="showPromises = !showPromises">click for Promise</button>
    <button mat-raised-button color="primay" (click)="showConsole23 = !showConsole23">click for Console</button>
    <button mat-raised-button color="primay" (click)="showFunctions12 = !showFunctions12">click for Functions</button>
    
    
    <select [(ngModel)]="format">
        <option *ngFor="let cricketFormat of  ['ODI', 'TEST', 'T20']" [value]="cricketFormat">{{cricketFormat}}</option>
    </select>

    <div *ngIf="showCallBindApply">
        <app-call-bind-apply></app-call-bind-apply>
        <app69-debounce13></app69-debounce13>
    </div>
    <div *ngIf="showCricket">
        <app69-cricket23 [format]="format"></app69-cricket23>
    </div>
    <div *ngIf="showPromises">
        <app69-promise44></app69-promise44>
    </div>
    <div *ngIf="showConsole23">
        <button (click)="changeInputToConsole23()">Change Input to Console</button>
        <app69-console23 [input23]="inputToConsole"></app69-console23>
    </div>
    <div *ngIf="showFunctions12">        
        <app69-functions12></app69-functions12>
    </div>
    <div class="other-js-stuff"> 
        <input type="text" name="htmlInput" 
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1'); this.value=this.value.slice(0, this.value.indexOf('.')+4);">
        <input #inputValue type="text" name="angularInput" (input)="processInput(inputValue.value)">        
        <input processDecimal [firstParam]="firstParam" [secondParam]="secondParam" value="23">
    </div>    
</div>
