// We can set them initially to reflect our custom theme. 
    // Since we want our theme to be global, I have defined it using the :root selector
    // we can also use html (or) body tag...

// THESE ARE ALL DEFAULT VALUES
:root {
    --gopal-success:#4cdd0d;
    --gopal-info:#ececa8;
    --gopal-warn:#ff0000;    
    --gopal-background-color:#ffffff;
    --gopal-font-size:"20px";
    --gopal-font-weight: "500"
}