<div class="main23">
    <div class="gfg">Home</div>
    <div class="gfg">Read</div>
    <div class="gfg">Write</div>
    <div class="gfg">About Us</div>
    <div class="gfg">Contact Us</div>
    <div class="gfg">Privacy Policy</div>
</div>


<div class="main24-grid-container">
    <div class="item1"> Item1 </div>
    <div class="item2">2</div>
    <div class="item3">3</div>  
    <div class="item4">4</div>
    <div class="item5">5</div>
    <div class="item6">6</div>
    <div class="item7">7</div>
</div>