.video11-container {
    .buttons {
        border: 1px dotted rgb(76, 125, 197);
        padding: 10px;
        max-width: fit-content;
        max-height: fit-content;
    }
    .components {
        .component-element {
            border: 1px dotted rgb(147, 224, 74);
            padding: 10px;
            max-width: fit-content;
        }
    }
}