<div class="address12-forms12-container">
    <div [formGroup]="address12" fxLayout="column" fxLayoutGap="10px">
        <app69-reusable-form formControlName="user"></app69-reusable-form>
        <input class="form-control" type="text" formControlName="city">
        <input class="form-control" type="text" formControlName="country">        
    </div>
    <div>
        <button (click)="logForm11()" [disabled]="address12?.invalid">Submit1</button>
        <button (click)="logForm11()">Submit2</button>
    </div>
</div>