.life-cycle-hooks-container {
    max-width:fit-content;
    .change-detection-1 {
        border:1px dotted red;
        padding: 5px;
        // max-width: fit-content;
    }
    .change-detection-2 {
        border:1px dotted blue;
        padding: 5px
    }
}