<div class="ag-grid24-container">
    <!-- <ag-grid-angular
        style="width: 100%; height: 500px" 
        class="ag-theme-balham"
        [rowData]="rowDefs" 
        [columnDefs]="columnDefs"
        [paginationAutoPageSize]="paginationAutoPageSize"
        [paginationPageSize]="paginationPageSize" 
        [pagination]="pagination">
    </ag-grid-angular>     -->

    <!-- no pagination nothing -->
    <ag-grid-angular
        style="width: 50%; height: 500px" 
        class="ag-theme-balham"
        [rowData]="rowDefs" 
        [columnDefs]="columnDefs"
        [pagination]="pagination">
    </ag-grid-angular>    
</div>
