<!-- 

    screen capture, web share --------- junk, so not using anymore 

<a [routerLink]="['screen_capture']">Screen Capture</a><br>
<a [routerLink]="['web_share_2']">Web Share 2 </a> <br>
<a [routerLink]="['web_share_3']">Web Share 3 </a> <br> 

-->

<div class="home-subjects-container" fxLayout="row" fxLayoutGap="50px">    

    <div fxLayout="column" fxLayoutGap="10px" class="links-and-buttons">        
        <button mat-raised-button color="warning" (click)="showSubjects=!showSubjects">show subjects</button>
        <button mat-raised-button color="warning" (click)="showReplaySubjects=!showReplaySubjects">replay/beh subjects</button>

    </div>
    
    <div fxLayout="column" fxLayoutGap="50px" class="child-components">        
        <div class="subjects" *ngIf="showSubjects">
            <div fxLayout="row" fxLayoutGap="5px">
                <app69-subjects41></app69-subjects41>
                <app69-subjects42></app69-subjects42>
                <app69-subjects43></app69-subjects43>
            </div>
            <div class="replay-subjects" *ngIf="showReplaySubjects">
                <div fxLayout="row" fxLayoutGap="5px">
                    <app69-subjects45></app69-subjects45>               <!-- replay subject -->
                    <app69-subjects46></app69-subjects46>               <!-- behaviour subject -->
                    <app69-subjects47></app69-subjects47>               <!-- async subject -->
                </div>                
            </div>
        </div>
    </div>

</div>

<!-- <router-outlet></router-outlet> -->



