.home-subjects-container {
    .links-and-buttons {
        color:#ff0000;
        max-width: fit-content;
    }

    .child-components {
        button {
            max-width: fit-content;
        }   
    }

    .replay-subjects {
        padding:10px;
        border: 1px dotted rgb(95, 95, 187)
    }

}
