.home-subjects-container {
    .links-and-buttons {
        color:#ff0000;
        max-width: fit-content;
    }

    .child-components {
        button { max-width: fit-content; };
        .subjects {
            display: flex;
            flex-direction: row;  
        }
    }

    .replay-subjects {
        padding:10px;
        border: 1px dotted rgb(95, 95, 187);
        display: flex;
        flex-direction: row; 
    }

}
