<div class="pseudo-styling-container">
    <h1>lets see some paragraphs</h1>
    <p>This is some paragraph. Here, we will learn, how to apply pseudo styling... know the differences between pseudo elements & pseudo classes. These days tollywood movies are doing business all over India. RRR. Baahubali, Pushpa were big hits in the entire India. Rajamoul's name was known all over India.</p>
    <p>I like playing chess. In my school days, I used to play with my father. Later, not so much. Once, I played in my college competitions. I dont know if I won or lost. Now a days, I am just watching chess games. There is this youtube channel run by some guy. The channel's name is agadmator. He is also a former chess player. Sometimes, he brings top chess grandmasters on his channel. I like Michael Tal. His playing style is unique. I also got to know about Nezhmetdinov - no reverse gear rashid... then paul morphy - the first chess genius</p>
    <div>
        <ul>
            <li>Coffee</li><li>Tea</li><li>Milk</li>
        </ul>
    </div>
    <div>select some text - any text in this page</div>
    
</div>