<div class="webpack-container">
    <div>Current time in France ==> {{ currentTimeFRLocale }} </div>
</div>

<!-- 
    Refer these links

    https://www.digitalocean.com/community/tutorials/angular-custom-webpack-config

    moment.js supports many locales by default. 
    If the audience for your project does not require certain languages
    - removing the locales that are not necessary can help reduce file sizes

    

-->

<!--
    In order to use a custom webpack config, you will need to add 
        @angular-builders/custom-webpack 
        @angular-builders/dev-server 
    to your project as devDependency packages:
-->