<div class='container-fluid'>
    <div class="row p-3">
        <div class="col-4">
            <div class="column">
                <app-header12></app-header12>
                <div class="row">
                    <button class="col" (click)="showingSweetAlert()">show sweet alert</button>
                    <div class="col">{{ isTesting ? ('Yes' | translate) : ('No' | translate) }} </div>
                    <div class="logged-in-details col" *ngIf="userName">{{userName}}</div>
                    <button class="col" (click)="testingWebWorker()">test Web Worker</button>
                </div>
            </div>
        </div>
        <div class="col-8">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">Testing</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <ng-container *ngTemplateOutlet="section01"></ng-container>
                            <ng-container *ngTemplateOutlet="section02"></ng-container>
                            <ng-container *ngTemplateOutlet="section03"></ng-container>
                            <ng-container *ngTemplateOutlet="section04"></ng-container>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="m-2">
    <router-outlet></router-outlet>
</div>

<!-- this is fixed footer at the bottom... using bootstrap class -->
<!-- 
        but its overlapping main content... life-cycle-hooks11 changeInputs        
        so, commenting it out at the moment
    -->
<!-- <div class="footer fixed-bottom">
    <app-footer12></app-footer12>
</div> -->

<!-- not working anyway -->
<!-- <div class="footer-flex-class">
    <app-footer12></app-footer12>
</div> -->

<ng-template #section01>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false"> Section I
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" translate [routerLink]="['home']">Home</a></li>
            <li><a class="dropdown-item" translate [routerLink]="['auth23']">auth</a></li>
            <li><a class="dropdown-item" [routerLink]="['life-cycle-hooks11']">life-cycle-hooks11</a></li>
            <li><a class="dropdown-item" translate [routerLink]="['forms12']">forms12</a></li>
            <li><a class="dropdown-item" translate [routerLink]="['forms13']">forms13</a></li>
            <li><a class="dropdown-item" translate [routerLink]="['js-stuff12']">javascriptstuff</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" translate [routerLink]="['AgGrid34']">AgGrid34</a></li>
        </ul>
    </li>
</ng-template>
<ng-template #section02>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false"> Section II
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            
            <li><a class="dropdown-item" translate [routerLink]="['library23']">library23</a></li>
            <li><a class="dropdown-item" translate [routerLink]="['material23']">materialStuff</a></li>
            <li><a class="dropdown-item" [routerLink]="['styling12']">styling 12</a></li>
            <li><a class="dropdown-item" [routerLink]="['bootstrap23']">bootstrap 23</a></li>
            <li><a class="dropdown-item" translate [routerLink]="['dom12']">DOM</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" translate [routerLink]="['random12']">random12</a></li>
            <li><a class="dropdown-item" translate [routerLink]="['random13']">random13</a></li>
            <li><a class="dropdown-item" translate [routerLink]="['random14']">random14</a></li>
        </ul>
    </li>
</ng-template>
<ng-template #section03>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false"> Section III
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" translate [routerLink]="['subjects']">subjects</a></li>
            <li><a class="dropdown-item" [routerLink]="['observables12']">observables12</a></li>
            <li><a class="dropdown-item" [routerLink]="['observables15']">observables15</a></li>
            <li><a class="dropdown-item" translate [routerLink]="['jasmine34']">jasmine34</a></li>
            <li><a class="dropdown-item" [routerLink]="['design23']">design23</a></li>
            
            <li><hr class="dropdown-divider"></li>
            <li><hr class="dropdown-divider"></li>
            
            <li><a class="dropdown-item" [routerLink]="['projection23']">projection23</a></li>
            
            <li><a class="dropdown-item" [routerLink]="['webpack23']">webpack23 </a></li>
        </ul>
    </li>
</ng-template>
<ng-template #section04>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false"> Section IV
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="['router-12']">router 12</a></li>
            <li><a class="dropdown-item" [routerLink]="['router13']">router 13</a></li>
            <li><a class="dropdown-item" [routerLink]="['router14']">router 14</a></li>
            <li><a class="dropdown-item" [routerLink]="['router15']">router 15</a></li>
            <li><a class="dropdown-item" [routerLink]="['router16/parent']">router-16</a></li>
            <li><a class="dropdown-item" [routerLink]="['routeGuards']">route guards </a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" [routerLink]="['services-di']">services di </a></li>
            <li><a class="dropdown-item" [routerLink]="['serverless123']">serverless 123</a></li>
            <li><a class="dropdown-item" [routerLink]="['service-calls']">service calls</a></li>
            <li><a class="dropdown-item" [routerLink]="['web-sockets']">websockets</a></li>
            <li><a class="dropdown-item" [routerLink]="['firebase22']">firebase 22</a></li>
        </ul>
    </li>
</ng-template>