.app-header {
    /* position:absolute; */
    top: 5px;
}
.home-sections {
    background-color:antiquewhite;
    color:chocolate
}

.main-content {
    margin:20px;
}
.app-footer {
    /* position:absolute; */
    bottom:0px;
}