<div fxLayout="column" fxLayoutGap="40px">


<div class="app-header">
    <app-header12></app-header12>
</div>
<div fxLayout="row wrap" fxLayoutGap="40px" class="home-sections">
    <a [routerLink]="['home']"> Home </a>
    <a [routerLink]="['subjects']"> subjects </a>
    <a [routerLink]="['material23']"> material Stuff </a>
    <a [routerLink]="['routeGuards']"> route guards </a>
    <a [routerLink]="['router-12']"> router-12 </a>
    <a [routerLink]="['services-di']"> services-di </a>
    <a [routerLink]="['random12']"> random12 </a>
    <a [routerLink]="['styling12']"> styling12 </a>
    <a [routerLink]="['dom12']"> DOM </a>
    <a [routerLink]="['life-cycle-hooks11']"> life-cycle-hooks11 </a>
    <a [routerLink]="['forms12']"> forms12 </a>
    
    <!-- <a [routerLink]="['displayUsers']"> displayUsers </a> -->
    <!-- 
            we just created a displayUsers link here... bcoz, we want to understand the difference between 
            [routerLink] = "['displayUsers']"
            [routerLink] = "['/displayUsers']"
            
    
    -->
</div>
<div class="main-content">
    <router-outlet></router-outlet>
</div>
<div class="app-footer">
    <app-footer12></app-footer12>
</div>

</div>