<div class="axios-fetch-container">
    <div class="info">
        <div>we wont use Angular's httpClient... instead, we will use axios & fetch</div>
        <div>
            Axios and node-fetch ==> both promise-based request libraries
            - to perform HTTP requests for retrieving, posting, deleting, modifying data from APIs
        </div>
    </div>
    <div class="details">
        <div>Axios Performs Automatic Transformations Of JSON Data.</div>
        <div>Axios Is More Secure, Featuring Built In Cross Site Forgery (XSRF) Protection</div>
        <div>Axios Has Better Error Handling</div>
    </div>
    <div class="buttons">
        <button (click)="simpleGet()">simple get</button>
        <button (click)="simplePost()">simple post</button>
        <button (click)="useInterceptors()">interceptors</button>
        <button (click)="errorHandling()">error Handling</button>
    </div>
</div>