<div class="mat-theme23-container">
    <!-- USAGE OF MIXINS, VARIABLES... USING SASS, SCSS -->
    <div class="main-content-1">
        <div> gopalTheme </div>
        <button color="primary" mat-raised-button>see mixin23.scss</button>
    </div>
    <div class="main-content-2">
        <div> priyaTheme </div>
        <button color="primary" mat-raised-button>mixin23.scss choosko</button>
    </div>
    <div class="main-content-3">
        <div>hover cheskuo</div>
        <button color="primary" mat-raised-button>variable Theme </button>
    </div>
    <div class="main-content-4">
        <div class="success22">success23</div>
        <div class="info22">info23</div>
        <div class="warn22">warn23</div>
    </div>
</div>
