<div class="focus-directive11-container" fxLayout="row" fxLayoutGap="10px">
    <!-- idi maatram maaradu... greenyellow ani ikkade pettaam kada -->
    <input style="background-color: greenyellow;" id="name11" placeholder="type your name, press Enter" onEnterFocusNextElem23>
    <input id="age11" placeholder="type your age, press Enter" onEnterFocusNextElem23>
    <input id="city" placeholder="type your city, press Enter to submit ??" onEnterFocusNextElem23>
    <button (click)="doStuff23()"> Submit</button>
</div>