<div class="cognito-home-container">
    <div>Angular Amazon Cognito HOME</div>
    <div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">                    
                <a class="nav-link" [routerLink]="['signUp']" routerLinkActive="active" *ngIf="!isAuthenticated">Signup</a>
                <span *ngIf="isAuthenticated">Sign up</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['signIn']" routerLinkActive="active" *ngIf="!isAuthenticated">Signin</a>
                <span *ngIf="isAuthenticated">Sign in</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['profile']" routerLinkActive="active" *ngIf="isAuthenticated">Profile</a>
                <span *ngIf="!isAuthenticated">Profile</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="" (click)="signOut()" *ngIf="isAuthenticated">Sign out</a>
                <span *ngIf="!isAuthenticated">Sign out</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['custom-signin']" routerLinkActive="active" *ngIf="!isAuthenticated">custom sign in</a>
                <span *ngIf="isAuthenticated">custom signin</span>
            </li>
        </ul>
    </div>
</div>
