<div class="observable62-container">
    <form [formGroup]="form29">
        <div>
            <input formControlName="clubName" type="text" placeholder="enter club name">
            <input formControlName="stadiumName" type="text" placeholder="enter stadium name">
            <input formControlName="managerName" type="text" placeholder="enter manager name">
            <input formControlName="city" type="text" placeholder="enter city">
        </div>

        <div>
            <input formControlName="nickname1" type="text" placeholder="nickname1">
            <input formControlName="nickname2" type="text" placeholder="nickname2">
        </div>
    </form>
</div>
