<div class="date-validator2-container">
    <div>date-validator2</div>
    <form [formGroup]="dateRange2">
        <div style="font-size:9px">
            <mat-form-field appearance="outline">
                <input matInput readonly [matDatepicker]="from" placeholder="Start Date" formControlName="from">
                <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
                <mat-datepicker #from></mat-datepicker>
            </mat-form-field>
        </div>
        <div style="font-size:9px">
            <mat-form-field appearance="outline">
                <input matInput readonly [matDatepicker]="to" placeholder="End Date" formControlName="to">
                <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
                <mat-datepicker #to></mat-datepicker>
            </mat-form-field>
        </div>        
    </form>
</div>