<div class="typescript11-container" fxLayout="column" fxLayoutGap="30px">
    <!-- <h3>know the difference between redeclare & update/assing_new_value 
        <span style="text-decoration:underline">for let & var variables</span>
    </h3>
    <h3>Getters do not require explicit invocation with parentheses and cannot therefore accept arguments. </h3>
    <h3>Their invocation is implicit (OR)</h3>    
    <h3>get syntax MUST have exactly zero parameters</h3> -->
    <div style="max-width: fit-content;">
        <button mat-raised-button color="primary" (click)="unionTypes()">multiple return types</button>
        <select [(ngModel)]="count23">
            <option *ngFor="let count of  [1, 101, 201, 330, 500]" [value]="count">{{count}}</option>
            <!-- 
                <option *ngFor="let count of  [1, 101, 201, 330, 500]" value="count">{{count}}</option> 
                here, value isnt put in [] square brackets... see the difference
            -->
        </select>
    </div>    
</div>