<div class="observables-home-container" fxLayout="row" fxLayoutGap="10px">
    <div class="links-and-buttons" fxLayout="column" fxLayoutGap="5px"> 
        <a [routerLink]="['observable23']"> observable 23 - as$, bs$, hs$</a> <br>
        <a [routerLink]="['observable1']"> observable 1 - purity, flow </a> <br> 
        <button  (click)="showObservable2=!showObservable2">Observable 2</button>       
        
        <button  (click)="showSwitchMap1=!showSwitchMap1">switch map</button>
        <button  (click)="showSwitchMap22=!showSwitchMap22">switchMap 22</button>
        
        <button  (click)="showMerge=!showMerge">merge</button>
        <button  (click)="showFutDb=!showFutDb">fut db</button>
        
        
    </div>
    <div class="child-components" fxLayout="column" fxLayoutGap="10px">
        <div class="child-component-element" *ngIf="showFutDb">
            <app69-fut-db></app69-fut-db>
        </div>        

        <div class="child-component-element" *ngIf="showObservable2">
            <app69-observable2></app69-observable2>         <!-- forkJoin-->
        </div>
        <div class="child-component-element" *ngIf="showSwitchMap1">
            <app69-switch-map></app69-switch-map>
        </div>
        
        <div class="child-component-element" *ngIf="showMerge">
            <app69-merge></app69-merge>
        </div>
        
        <div class="child-component-element" *ngIf="showSwitchMap22">
            <app69-switch-map22></app69-switch-map22>
        </div>        
    </div>    
</div>
