.testing-ngClass-1{
    color:aqua
};

.testing-ngClass-2{
    font-size:1px;
};

.testing-ngClass-3{
    font-size:20px;
};

.testing-ngClass-4{
    color:yellowgreen
};

.testing-ngClass-5{
    color:bisque
};

.testing-ngClass-6{
    background-color:aliceblue
};

.testing-ngClass-7{
    font-size:10px;
};