.ng-class12-container {
    .ng-class12-items {
        align-items:center;

        .testing-ngClass-1{
            color:rgb(223, 17, 17);
        };

        .font-size-80{
            font-size:80px;
        };

        .font-size-20{
            font-size:20px;
        };

        .blue-shade-color{
            color:rgb(39, 18, 230)
        };

        .brown-shade-color{
            color:rgb(17, 10, 0)
        };

        .bg-color{
            background-color:aliceblue
        };

        .font-size-40{
            font-size:40px;
        };        

    }
}

