<div class="service-calls-container" fxLayout="column" fxLayoutGap="30px">
  <button mat-raised-button color="primary" (click)="submitPost()">submit post</button>
  <button mat-raised-button color="primary" (click)="submitQuote()">submit quote</button>
  <button mat-raised-button color="primary" (click)="showQuotes()">show quotes</button>
  <button mat-raised-button color="primary" (click)="showPosts()">show posts</button>
  <button mat-raised-button color="primary" (click)="postWithParams()">post with params</button>
</div>
