.water-meter-container {
    height: 30vh;
    width: 40px;
    color: black;
    .container1 {        
        border: 1px solid;
        background-color: antiquewhite;
    }
    .container2 {        
        border: 1px solid;
        background-color: rgb(77, 77, 221)
    }
    .container3 {        
        border: 1px solid;
        background-color: rgb(204, 147, 40);
    }
}