.subjects41-container {
    padding: 20px;
    border: 1px dotted rgb(212, 126, 126);
    
    .normal-subjects {
        padding: 5px;
        // border: 1px dotted rgb(226, 78, 78);    
    }
    .replay-subjects {
        padding: 5px;
        // border: 1px dotted rgb(66, 84, 136);    
    }
    .behaviour-subjects {
        padding: 5px;
        // border: 1px dotted rgb(108, 136, 41);    
    }
}