<div class="subjects41-container">
    <div class="normal-subjects">
        <input id="inputClub" placeholder="enter club">
        <input id="inputPlayer" placeholder="enter player"/>        <!-- should we close input tag with > (or) /> -->
        <button (click)="broadcast23()">normal Subjects</button>
    </div>
    <div class="replay-subjects">
        <input id="inputCountry" placeholder="enter country">
        <!-- <input id="inputPlayer" placeholder="enter player"/> -->
        <button (click)="broadcast24()">replay</button>
    </div>
    <div class="behaviour-subjects">
        <input id="inputHero" placeholder="enter hero">
        <!-- <input id="inputPlayer" placeholder="enter player"/>        -->
        <button (click)="broadcast25()">behaviour</button>
    </div>
    <div class="animal-subjects">
        <input id="inputAnimal" placeholder="enter animal">
        <button (click)="broadcast26()">async</button>
        <button (click)="completeAsync()">finishey</button>
    </div>
</div>