<div class="sockets11-container">
    <div class="send-input" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
        <input [(ngModel)]="sender" name="senderInput" placeholder="sender's name">
        <textarea [(ngModel)]="content" name="contentInput" placeholder="type your message here" cols="40" rows="2"></textarea>
        <button (click)="sendMsg()">Send Message</button>
    </div>
    <div class="chat-box">
        <div class="sent-messages">
            <ul>
                <li *ngFor="let item of sent">Sender: {{item.sender}} -> Content {{item.content}}</li>
              </ul>
        </div>
        <div class="received-messages">
            <ul>
                <li *ngFor="let item of received">Sender: {{item.sender}} -> Content {{item.content}}</li>
              </ul>
        </div>
    </div>    
</div>