.host-view11-container {
    .host-view11-dynamic-component1 {
        color:rgb(219, 36, 112);
        border: 1px dotted;
    }
    .host-view11-dynamic-component2 {
        color:rgb(43, 47, 238);
        border: 1px solid;
    }
    .host-view11-dynamic-component3 {
        color:rgba(78, 46, 3, 0.5);
        border: 1px dotted;        
    }
    max-width: fit-content;
}
