<!--
    
    this component will have 2,3,4 products... all in the same route... I mean the URL doesnt change...
    but the service call to backend must go with route params... 

    we wont make service call here... but just print it out to console... 
    
    meaning product 1 must print ======> blah.com/product/1
    meaning product 2 must print ======> blah.com/product/2

-->
<div class="params12-container">
    <div fxLayout="column" fxLayoutGap="20px">
        <div *ngFor="let element of products44, index as index" fxLayout="row" fxLayoutGap="50px">
            <!-- this approach looks for child routes -->
            <!-- <span>{{element.id}} {{element.name}}</span> -->

            <!-- this approach looks for absolute routes -->
            <span>{{element.id}} {{element.name}}</span>

            <button [routerLink]="['/router-12/itemDetail', index]" mat-flat-button color="primary">click me</button>
        </div>
        <a [routerLink]="['/router-12']"> Go Back </a>
    </div>
</div>



<!--
    first segment begins with '/' ===> the router will look up the route from the root of the app.
    first segment begins with './' ===> the router will instead look in the children of the current activated route.
    first segment doesn't begin with a slash ===> the router will instead look in the children of the current activated route.
    first segment begins with '../' ===> the router will go up one level.
-->