.see-article-container {
    .secret-article {
        border: 1px solid rgb(163, 11, 11);
        padding: 10px;
        max-width: fit-content;
    }
    .secret-rumour {
        border: 1px solid rgb(122, 100, 120);
        padding: 10px;
        max-width: fit-content;
    }
}