.observable61-container {
    .values-array-22 {
        border: 1px dotted rgb(221, 127, 127);
        padding: 10px
    }
    .values-array-21 {
        border: 1px dotted rgb(42, 146, 206);
        padding: 10px
    }
}
