<div class="router14-container">
    <div fxLayout="row">
        <!--    APPROACH I ========> using routerLink          -->
        <div class="route-links1" fxLayout="column">
            <h5>using routerLinks</h5>
            <a routerLink="route-one">route one </a> &nbsp;&nbsp;&nbsp;&nbsp;
            <a routerLink="route-two">route two </a>
        </div>
        <!--    APPROACH II  =======> using router.navigate()   -->
        <div class="route-links2" fxLayout="column">
            <h5>using router.navigate()</h5>
            <button (click)="goToRouteOne()">route one</button>
            <button (click)="goToRouteTwo()">route two</button>
        </div>
    </div>

    <!-- 2nd router outlet -->
    <div class="place-for-router-outlet">
        <h3>place for router-outlet</h3>
        <router-outlet></router-outlet>
    </div>
    
</div>