.router14-container{
    .route-links1 {
        border: 1px dotted rgb(61, 116, 179);
        padding: 5px;
    }
    .route-links2 {
        border: 1px dotted rgb(155, 90, 146);
        padding: 5px;
    }
    .place-for-router-outlet {
        border: 1px dotted rgb(61, 116, 179);
        padding: 10px;
        width: fit-content;
    }
}