.router14-container{
    .using-html {
        border: 1px dotted rgb(199, 199, 139);
        padding: 10px;
        max-width: 500px;
        min-width: 500px;
    }
    .route-links1 {
        border: 1px dotted rgb(61, 116, 179);
        padding: 10px;
        max-width: 250px;
        min-width: 250px;
    }
    .route-links2 {
        border: 1px dotted rgb(155, 90, 146);
        padding: 10px;
        max-width: 250px;
        min-width: 250px;
    }
    .going-back {
        border: 1px dotted rgb(61, 116, 179);
        padding: 10px;
        max-width: 500px;
        min-width: 500px;
    }
}