<div class="home-agGrid-container" fxLayout="row" fxLayoutGap="30px">
    <div><h4>Welcome to Ag Grid34</h4></div>
    <button style="width:fit-content; height:fit-content" (click)="showAgGrid21=!showAgGrid21">show ag grid21 </button>
    <button style="width:fit-content; height:fit-content" (click)="showAgGrid22=!showAgGrid22">show ag grid22 </button>
    <button style="width:fit-content; height:fit-content" (click)="showAgGrid23=!showAgGrid23">show ag grid23 </button>    
    <button style="width:fit-content; height:fit-content" (click)="showAgGrid24=!showAgGrid24">show ag grid24 </button>    
    <button style="width:fit-content; height:fit-content" (click)="showAgGrid25=!showAgGrid25">show ag grid25 </button>
</div>
<div *ngIf="showAgGrid21">
    <app69-ag-grid21></app69-ag-grid21>    
</div>
<div *ngIf="showAgGrid22">
    <app69-ag-grid22></app69-ag-grid22>
</div>
<div *ngIf="showAgGrid23">
    <app69-ag-grid23></app69-ag-grid23>
</div>
<div *ngIf="showAgGrid24">
    <app69-ag-grid24></app69-ag-grid24>
</div>
<div *ngIf="showAgGrid25">
    <div>Look here and implement this... </div>
    <div>https://www.ag-grid.com/angular-data-grid/cell-editors/</div>
    <app69-ag-grid25></app69-ag-grid25>
</div>