.custom-validator12-container {
    border: 1px dotted rgb(120, 120, 238);
    max-width: fit-content;
    padding: 10px;
    .validators-list {
        .custom-validator-1 {
            color:black;
            border:1px dotted rgb(235, 37, 37);
            padding:10px;
            .form-group-1 {
                max-width:fit-content
            }
        }
    
        .custom-validator-2 {
            color:black;
            border:1px dotted rgb(26, 24, 24);
            padding:10px;
            .form-group-2 {
                max-width:fit-content
            }
        }
    
        .custom-validator-3 {
            color:black;
            border:1px dotted rgb(235, 37, 37);
            padding:10px;
        }
    }    
}