<div fxLayout="column" fxLayoutGap="5px" class="custom-validator12-container">    
    <div class="validators-list"  fxLayout="row">
        <div class="custom-validator-1" fxLayout="column">            
            <form [formGroup]="formGroup1">
                <div fxLayout="column" fxLayoutGap="10px" class="form-group-1">
                    <div>name & any 2 of 4 Id proofs needed</div>
                    <input formControlName="firstName" placeholder="only 5 characters, without 'a'">
                    <input formControlName="panCard" placeholder="panCard">
                    <input formControlName="aadhar" placeholder="aadhar">
                    <input formControlName="drivingLicense" placeholder="drivingLicense">
                    <input formControlName="voterCard" placeholder="voterCard">
                </div>
                <button mat-raised-button (click)="onSubmit1()" [disabled]=formGroup1?.invalid>submit1</button>
                &nbsp;&nbsp;
                <button title="submit to check form validity" mat-raised-button (click)="onSubmit1()">checkForm</button>
            </form>
        </div>
        <div class="custom-validator-2">
            <form [formGroup]="formGroup2">
                <div fxLayout="column" fxLayoutGap="10px" class="form-group-2">
                    <input formControlName="age" placeholder="unte, length min 3 undaali">
                    <input formControlName="city" placeholder="ciy">
                    <input formControlName="country" placeholder="country">
                </div>
                <button mat-raised-button (click)="onSubmit2()" [disabled]=formGroup2?.invalid>submit2</button>
                &nbsp;&nbsp;
                <button title="submit to check form validity" mat-raised-button (click)="onSubmit2()">checkForm</button>
            </form>
        </div>
    </div>
</div>
