.custom-validator13-container {
    border: 1px dotted rgb(120, 228, 120);
    padding: 10px;
    max-width: fit-content;
    
    .custom-validator13-form {
        padding:10px;
        border:1px dotted red;
        max-width:fit-content;
    }
}