<div *ngIf="false">
    <div fxLayout="column" fxLayoutGap="20px" class="custom-validator13-container">
        <form novalidate>
            <div fxLayout="column" fxLayoutGap="20px" class="custom-validator13-form">
                <!-- <input formControlName="age" placeholder="enter age"> -->
                <!-- <input formControlName="email" placeholder="enter email" ngModel validateEmail> -->
                <input formControlName="email" placeholder="enter email">
            </div>    
        </form>    
    </div>
</div>

<div class="custom-validator13-container">
    <form novalidate class="custom-validator13-form">
        <div fxLayout="column" fxLayoutGap="20px">
            <input type="email1" name="email">
            <input type="email2" name="email" ngModel validateEmail12>
        </div>

        <!-- validateEmail is applied as an attribute to the <input> DOM element -->
        <!-- 
            we need to build a directive with a matching selector (meaning selector MUST also be "validateEmail")
            so it will be executed on all input controls where the directive is applied
        -->

        <!--
            a) Angular has an internal mechanism to execute validators on a form control
            b) It maintains a multi provider for a dependency token called NG_VALIDATORS
                    - Angular injects multiple values for a single token that is used for a multi provider.
            c) It turns out that all built-in validators are already added to the NG_VALIDATORS token
            d) So whenever Angular instantiates a form control and performs validation, 
                it basically injects the dependency for the NG_VALIDATORS token, which is a list of all validators, 
                and executes them one by one on that form control.
            e) Since multi providers can be extended by adding more multi providers to a token, 
                we can consider NG_VALIDATORS as a hook to add our own validators.
            f) 
        -->
    </form>
</div>

