<div class="custom-validator13-container">
    <form #multipleEmailForm="ngForm" class="custom-validator13-form">
        <div fxLayout="column" fxLayoutGap="20px">
            <input type="text" placeholder="no validator" name="email1" ngModel>
            <input type="text" placeholder="only 'abc' allowed" name="email2" ngModel validateEmail12>
            <input type="text" placeholder="email2...13" name="email3" ngModel validateEmail13>
            <input type="text" placeholder="dont use 'gop@gmail', 'ped@gmail'" name="email4" ngModel validateEmail14>
            <input type="text" placeholder="dont use 'gop@gmail', 'ped@gmail'" name="email5" ngModel validateEmail15>
        </div>
        <button [disabled]="isFormValid(multipleEmailForm)" (click)="onSubmit(multipleEmailForm)">Submit1</button>
        <button (click)="consoleForm(multipleEmailForm)">Submit2</button>
    </form>
</div>

