<div class="ng-do-check12-container" fxLayoutGap="20px" fxLayout="column">
    
    <div fxLayout="row" fxLayoutGap="20px">
        <div class="applyBorder" fxLayout="column" fxLayoutGap="20px">
            <div><span class="inputStyle">input1 </span>{{input1.name}}, {{input1.age}}</div>
            <div><span class="inputStyle">input2 </span>{{input2.city}}, {{input2.country}}</div>
            <div><span class="inputStyle">input3 </span>{{input3.football.clubName}}, {{input3.football.stadium}}, {{input3.football.captain}}</div>
        </div>
    </div>
    
</div>


