.ng-do-check12-container {
    margin:10px;
    .inputStyle {
        font-weight: 500;
        text-decoration: underline;
    }
    .applyBorder {
        border: 1px dotted red;
        padding: 10px;
        margin: 10px
    }
}
